<div class="row">
  <div class="small-9 columns">
    <h1>Welcome to Pair.Next</h1>
  </div>
</div>

<div class="row">
  <% if !@teams.nil? && !@teams.empty? %>
  <div class="small-12 large-9 columns">
  <% else %>
  <div class="small-12 large-12 columns">
  <% end %>  
    <div class="panel clearfix">

      <h3>Tired of keeping your pairing logs on paper? Keep reading.</h3>
      <p>  Pair.Next is an application designed to help agile teams pair more effectively.  Swapping pairs around on a regular basis helps to ensure that the whole team has a knowledge of the problem domain and the codebase.</p>  
      
      <p>  Pair.Next keeps track of who has paired with whom over the course of a project and then suggests new pairings endeavouring to match up team members who have paired the least.</p>

      <p>Occasionally it is more beneficial to have two specific team members pair or perhaps keep a particular pair together when all others swap.  Pair.Next accommodates for this by allowing users to alter the suggested pairings by simply dragging and dropping team members around. </p>
      
      <a href="team/new" class="button expand">Try Pair.Next</a>

    </div>
  </div>

  <% if !@teams.nil? && !@teams.empty? %>
    <div class="small-12 large-3 columns">
      <ul class="pricing-table">
          <li class="title">  Your teams</li>
          <% @teams.each do |team| %>
            <li class="bullet-item"><a href="team/<%= team.id %>" class="small"><%= team.name %></a></li>
          <% end %>
      </ul>
    </div>
  <% end %>


</div>




