<div class="row">
  <div class="small-9 columns">
    <h1>Welcome to Pair.Next</h1>
  </div>
</div>

<div class="row">
  <% if !@teams.nil? && !@teams.empty? %>
  <div class="small-12 large-9 columns">
  <% else %>
  <div class="small-12 large-12 columns">
  <% end %>  
    <div class="panel clearfix">

      <h3>Tired of keeping your pairing logs on paper? Keep reading.</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> 

      <a href="team/new" class="small button expand">Try Pair.Next</a>

    </div>
  </div>

  <% if !@teams.nil? && !@teams.empty? %>
    <div class="small-12 large-3 columns">
      <ul class="pricing-table">
          <li class="title">  Your teams</li>
          <% @teams.each do |team| %>
            <li class="bullet-item"><a href="team/<%= team.id %>" class="small"><%= team.name %></a></li>
          <% end %>
      </ul>
    </div>
  <% end %>


</div>




