<div class="row">
  <div class="large-12 column">
    <h1>Shuffle Team: <%= @team.name %></h1>
  </div>
</div>

<div class="row">
  <div class="column large-12">
    <form method="POST">
      <button type="submit">SHUFFLE</button>
    </form>
  </div>
</div>

<div class="row">

  <div id="last-pairs" class="large-6 column">
    <h3>Last pairs</h3>
    <% if @team.last_pairs.empty? %>
      <span>No previous pairing sessions</span>
    <% else %>
      <ul>
        <% @team.last_pairs.each do |pair| %>
          <li><%= pair.map(&:username).join(" <==> ") %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div id="next-pairs" class="column large-6">
    <h3>Next pairs</h3>
    <% if @team.next_pairs.empty? %>
      <span>Shuffle them up!</span>
    <% else %>
      <ul>
        <% @team.next_pairs.each do |pair| %>
          <li><%= pair.map(&:username).join(" <==> ") %></li>
        <% end %>
      </ul>
    <% end %>
  </div>

</div>
