<div class="row">
  <div class="large-12 columns">
    <h1>Profile - <%= @team.name %> </h1>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Type an username" />
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Add member</a>
        </div>
    </div>
  </div>

  <% unless @team.users.empty? %>
    <% @team.users.each do |member| %>
      <div class="large-6 columns">
        <div class="panel clearfix">
          <img src="http://m.c.lnkd.licdn.com/mpr/mpr/shrink_80_80/p/6/000/1fa/1eb/204f64b.jpg" width="80" height="80">
              <%= member.username %>
        </div>
      </div>
    <% end %>    
  <% end %>
</div>
