

<div class="row">
  <div class="large-12 columns">
    <h1>Create a team</h1>
  </div>
</div>

<form action="/team/new" method="post">

  <div class="row">
    <div class="large-12 columns <%= "error" if @team.errors.messages[:name] %>">
      <div class="panel clearfix">

        <label><h3>Team name</h3>
          <input type="text" name="team_name" placeholder="Type your team name." />
        </label>
        <% if @team.errors.messages[:name] %>
          <small class="error">Name <%= @team.errors.messages[:name].first %></small>
        <% end %> 
        <input type="submit" class="small button right" value="Create" />
      </div>
    </div>
  </div>

</form>


  <% unless @team.users.blank? %>
    <% @team.users.each do |member| %>
      <%= member.username %>
    <% end %>    
  <% end %>
