<div class="row">
  <div class="large-12 columns">
    <h1>Profile - <%= @team.name %> </h1>
  </div>
</div>

<div class="row">
  <div class="large-6 columns">
    <div class="row collapse">
        <div class="small-10 columns">
          <input type="text" placeholder="Type an username" />
        </div>
        <div class="small-2 columns">
          <a href="#" class="button postfix">Add member</a>
        </div>
    </div>
  </div>
</div>