.drag-source {
	border: dashed;
	border-width: 1px;
}

.drag-target {
	border: dashed;
	border-width: 1px;		
}

.drag-alt-target{
	border: dashed;
	border-width: 1px;
}

.full-width {
     width: 100%;
     max-width: 100%; 
}

.nopad{
	padding: 0px;
}

.chart-head{
	color: #eeeeee;
	background-color: #333333;
  font-family: 'Open Sans', sans-serif;  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;

}

.chart-row{
	background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  padding-top: 15px;
  padding-bottom: 15px;
  word-wrap: break-word;

}

.chart-text{
	background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;  font-weight: normal;
  font-style: normal;
  font-size: 1rem;
  padding-top: 5px;
  padding-bottom: 4px;
  word-wrap: break-word;

}

.no-low-margin{
	margin: 0px;

}

.top-margin{
	margin-top: 1em;
}

.noresize{ 
  resize:none;
}
.no-low-pad{
  padding-bottom: 0px;
}

