.drag-source {
	border: dashed;
	border-width: 1px;
}

.drag-target {
	border: dashed;
	border-width: 1px;		
}

.drag-alt-target{
	border: dashed;
	border-width: 1px;
}

.full-width {
     width: 100%;
     max-width: 100%; 
}

.nopad{
	padding: 0px;
}

